
<div class="header">
    <header>
        <div class="logo">
          <img src="../../assets/images/SecondPocketLogo.png" alt="Logo" style="width: 8rem;">
        </div>
      </header>
      
    <div class="right-corner">
        <div id="time"></div>
        <div id="date"></div>
        
      </div>
     
    <!--Content before waves-->
    <div class="inner-header flex">
      <button  routerLink="/login">
        Let's Start
      </button>
    </div>
    
    
<div>
      <img src="../../assets/img/oie_19152941BxeqMVxu.gif"   />
      <img src="../../assets/img/oie_19162185Txjorfh.gif"   />
      <img src="../../assets/img/oie_1915534ZDqDzwyO.gif"   />
      <img src="../../assets/img/oie_19154939WF1K29sO.gif"   />
      <img src="../../assets/img/oie_191679JUiamb4x.gif"   />
    </div>
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
    <!--Header ends-->
    
    <!--Content starts-->

    <!-- welcome animation -->
    <h3>Digital  Wallet</h3>
<div class="content flex">
        
      <p class="width=100%">"Simplify Your Finances with Our Secure Digital Wallet App"
        "Seamless Payments and Transfers: Experience the Power of Our Digital Wallet"
        "Manage Your Money Effortlessly with Our App"
        "The Future of Payments: Explore Our Feature-Rich Digital Wallet Solution"" </p>
    </div>
  
    <!--Content ends-->
<!-- Mansi Ends here -->


    <!-- Parallex starts -->
 
    <div class="container-fluid">
      <h1 style="color: white;">Simplify payments with our digital wallet app.</h1>
      <p style="color: white;"> With our app, you can securely store and access your funds, make seamless payments, transfer money to friends and family, 
        conveniently pay bills, and enjoy a range of other features that simplify and enhance your financial transactions. Experience the future of digital 
        wallets with our user-friendly and secure app.</p>
      <a href="#">Learn more</a>
    </div>
    
    <div class="blank"></div>
    
    <div class="container-fluid second">
      <div class="item">
        <div class="img img-first"></div>
        <div class="card">
          <h3>Secure Transaction</h3>
          <p>Make quick and secure payments using various methods like credit/debit cards, or mobile payment platforms, ensuring the safety of your financial transactions.</p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="item">
        <div class="img img-second"></div>
        <div class="card">
          <h3>Bill Payment</h3>
          <p>Digital wallet app, users can select the type of bill they want to pay. This can include electricity bills, shopping bills.</p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div class="item">
        <div class="img img-third"></div>
        <div class="card">
          <h3>Deposite & Withdraw</h3>
          <p>Digital wallet apps offer features to help users save money, set financial goals, and even invest in various funds</p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>
    
    <div class="blank"></div>

<!-- Footer -->

<app-footer></app-footer>