<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <div class="card my-4 shadow-3">
          <div class="row g-0">
            <div class="col-xl-6 d-xl-block bg-image">
              <img src="https://5.imimg.com/data5/ZM/JH/JW/SELLER-30356897/prepaid-mobile-recharge-services-500x500.jpg" alt="Sample photo"
                class="img-fluid" />
              <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class=" justify-content-center align-items-center h-100">
             
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-4 text-uppercase">Recharge Info</h3>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m">Mobile Number</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n" class="form-control form-control-lg" placeholder="399/-" [disabled]="true" />
                      <label class="form-label" for="form3Example1n">Amount</label>
                    </div>
                  </div>
                </div>
  
  
  
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <select class="select form-outline">
                      <option value="1">Select Plan</option>
                      <option value="2">Prepaid</option>
                      <option value="3">Postpaid</option>
                      <option value="4">Top-Up</option>
                    </select>
  
                  </div>
                
                </div>
  
               
  
                <div class="d-flex justify-content-end pt-3">
                  <a>
                  <button routerLink="/withdraw" type="button" class="btn btn-success btn-lg ms-2"
                    style="background-color:hsl(210, 100%, 50%) ">
                  
             Proceed to recharge now</button></a>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>