<!-- // Modified here  -->
<!-- EMAIL OTP Works starts here -->
<app-navbar></app-navbar>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <img src="../../assets/images/SecondPocketLogo.png" alt="SecondPocket Logo" style="max-width: 100%; margin: 0 auto; margin-top: 95px; display: block; padding: 20px;">
 
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="content">
      <h1 class="contentHead">ABOUT US</h1>
      <p class="lead">
        Hi Folks, <br/><br/>
        Welcome to SecondPocket! 
      </p>
      <p>
        At SecondPocket, we are dedicated to revolutionizing the way you handle transactions and manage your finances. 
        Our secure and user-friendly digital wallet app empowers you to make seamless and hassle-free payments anytime, anywhere.
      </p>
      <p>
        Join us today and experience the future of payments!
      </p>
      <!-- Add a call-to-action button here to encourage users to sign up or learn more -->
      <!-- Example: <a href="#" class="btn btn-primary">Get Started</a> -->
    </div>
  </div>
</div>



  <table>
    <tr>
      <td col-sm-6>

    <!-- Google Map starts here-->
    <!-- <div style="max-width:100%;overflow:hidden;color:red;width:800px;height:400px;">
      <div id="display-google-map" style="height:100%; width:100%;max-width:100%;">
          <iframe style="height:100%;width:100%;border:0;" frameborder="0"
              src="https://www.google.com/maps/embed/v1/place?q=Signature+Homes,+Phase+1,+Hinjewadi+Rajiv+Gandhi+Infotech+Park,+Hinjawadi,+Pune,+Maharashtra,+India&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
      </div>
      <a class="googlecoder" href="https://www.bootstrapskins.com/themes" id="grab-map-authorization">premium
          bootstrap themes</a>
      <style>
          #display-google-map img {
              max-width: none !important;
              background: none !important;
              font-size: inherit;
              font-weight: inherit;
              padding-top: 30%;
          }
      </style>
      </div>
    
    </td>
    <td col-sm-6>
          <h1>Reach out to us !</h1>
    </td>
    </tr>
    </table> -->

 
  <!-- Google Map Ends here -->

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.876977026519!2d73.73460177436934!3d18.579584267370542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bb9d8efbb6b5%3A0xa98cd1ba681f2e36!2sNCSI%20TECHNOLOGIES%20PVT%20LTD%20(NCS%20Group%20-%20Singtel)!5e0!3m2!1sen!2sin!4v1690651777251!5m2!1sen!2sin" width="1550" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

   <!-- Marquee Code -->
   <div class="col-lg-1 d-flex flex-column justify-content-end">
    <marquee width="100%" direction="up" height="50%" style="color: blue;">
      Reach out to us 
    </marquee>
  </div>
  <div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-4">Second Pocket - Digital Wallet</h1>
          <p class="lead text-muted mb-0"></p>
          <p class="lead text-muted">Why Choose SecondPocket?
            - Security <br>
             - Convenience  <br>
             - Seamless <br>
             - Payment  <br>
             - Bill Payment <br>
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white py-5">
    <div class="container py-5">
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Our Commitment to Security, Transparency and Trust:
</h2>
          <p class="font-italic text-muted mb-4">
            
At our app, the security of your financial information is our top priority.
 We employ industry-leading security measures to ensure that your data is protected at all times.
          </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">"Empower Your Finances, Anytime, Anywhere!"</h2>
          <p class="font-italic text-muted mb-4">Join SecondPocket today and unlock the power of digital payments!

          </p><a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light py-5">
    <div class="container py-5">
      <div class="row mb-4">
        <div class="col-lg-5">
          <h2 class="display-4 font-weight-light">Our team</h2>
          <p class="font-italic text-muted">Know our team.</p>
        </div>
      </div>
  
      <div class="row text-center">
        <!-- Team item-->
        <div class="col-xl-2 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Mini Pandey</h5><span class="small text-uppercase text-muted">Team Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-2 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://cdn-icons-png.flaticon.com/128/2335/2335153.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Manasi Kale</h5><span class="small text-uppercase text-muted">Team Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-2 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Rishikesh Jangam</h5><span class="small text-uppercase text-muted">Team Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
  
        <!-- Team item-->
        <div class="col-xl-2 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://cdn-icons-png.flaticon.com/128/1864/1864509.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Pulkit Prakash</h5><span class="small text-uppercase text-muted">Team Member</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
        <div class="col-xl-2 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">Shiva Reddy</h5><span class="small text-uppercase text-muted">Team Member</span>
              <ul class="social mb-0 list-inline mt-3">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
  
      </div>
    </div>
  </div>
  
  
  <footer class="bg-light pb-5">
    <div class="container text-center">
      <p class="font-italic text-muted mb-0">&copy; Copyrights SecondPocket.com All rights reserved.</p>
    </div>
  </footer>
  
