<nav class="navbar navbar-expand-lg ">
    <img src="../../assets/images/SecondPocketLogo.png" alt="Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-expand-lg" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto pt-2 mr-5">
          <a style="text-decoration: none; color: white; display: contents;" routerLink="/update" aria-haspopup="true"
            aria-expanded="false">
            Update Details
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            User Profile
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/profile">My Profile</a>
            <a class="dropdown-item" routerLink="/contact">Contact Us</a>
            <a class="dropdown-item" routerLink="/about">About Us</a>
            <a class="dropdown-item" routerLink="/dashboard">Back to Dashboard</a>
            <a class="dropdown-item" routerLink="/landing">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>