@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-right: 30px;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.80);
  margin-right: 30px;
}

.login_topimg {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  min-height: 185px;
  position: relative;
  background: #91B3D1 url(https://image.freepik.com/free-vector/cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37330.jpg) no-repeat;
  background-size: auto;
  background-position: center;
}

.login_topimg img {
  width: 100%;
  height: auto;
}

.login_topimg .logo_wrap {
  border-radius: 5px;
  background: #fff;
  padding: 13px 55px;
  position: relative;
  top: -21px;
  margin: 10px auto;
  max-width: 255px;
  
}

#login .wrap-login100 {
  background-color: #fff;
  padding: 20px 45px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  margin-right: 30px;
}

.login100-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login100-form-title {
  font-size: 25px;
  color: #243762;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  margin-right: 30px;
}

.login100-form-subtitle {
  font-size: 16px;
  color: #243762;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  margin-right: 30px;
}

.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-right: 30px;
}

#login input {
  outline: none;
  border: none;
}

#login label {
  display: inline-block;
  margin-bottom: .5rem;
}

.input-checkbox100 {
  display: none;
}

input {
  outline: none;
  border: none;
}

.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;margin-right: 30px;
}

.input100 {
  font-size: 15px;
  line-height: 1.2;
  color: #686868;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 45px;
  border-radius: 3px;
  padding: 0 30px 0 55px;
  margin-right: 30px;
}

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(211, 63, 141, 0.6);
  margin-right: 30px;
}

.symbol-input100 {
  font-size: 15px;
  color: #999999;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 23px;
  padding-bottom: 5px;
  pointer-events: none;
  transition: all 0.4s;
  margin-right: 30px;
}

::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity .5s;
}

:-moz-placeholder {
  opacity: 1;
  transition: opacity .5s;
}

::-moz-placeholder {
  opacity: 1;
  transition: opacity .5s;
}

:-ms-input-placeholder {
  opacity: 1;
  transition: opacity .5s;
}

::placeholder {
  opacity: 1;
  transition: opacity .5s;
}

*:focus::-webkit-input-placeholder {
  opacity: 0;
}

*:focus:-moz-placeholder {
  opacity: 0;
}

*:focus::-moz-placeholder {
  opacity: 0;
}

*:focus:-ms-input-placeholder {
  opacity: 0;
}

*:focus::placeholder {
  opacity: 0;
}

.lnr {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-sb-m {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-full {
  width: 100%;
}

.p-b-30 {
  padding-bottom: 30px;
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #09569B;
}

.label-checkbox100::before {
  content: "\f00c";
  /* font-family: FontAwesome; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.label-checkbox100 {
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.m-b-16 {
  margin-bottom: 16px;
}

.p-b-55 {
  padding-bottom: 55px;
}

.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn:hover {
  background: #333333;
}

.label-checkbox100::before {
  content: "\f00c";
  /* font-family: FontAwesome; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #09569B;
  left: 0;
  top: 48%;
  transform: translateY(-50%);
}

#login button:hover {
  cursor: pointer;
}

.login100-form-btn {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background: #09569B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
  margin-right: 30px;
  
}

#login button {
  outline: none !important;
  border: none;
}

@media (max-width: 768px) {
  .container {
    width: 750px;
  }
  #login .wrap-login100 {
    padding: 27px;
  }
  .login_topimg .logo_wrap {
    padding: 5px 55px;
  }
}



/* button */
 a.set-border-here {
    align-content: center;
    position: relative;
    display: inline-block;
    padding: 12px 26px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    
}



a.set-border-here:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 8px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.6s;
}
/* Register- below -2 */

a.set-border-here.hover-time:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 4px #2196f3, 0 0 15px #2196f3, 0 0 25px #2196f3;
    transition-duration: 0s;
    transition-delay: 0s;
}

a.set-border-here.hover-time span:nth-child(1),
a.set-border-here.hover-time span:nth-child(2),
a.set-border-here.hover-time span:nth-child(3),
a.set-border-here.hover-time span:nth-child(4) {
    transition-delay: 0s;
}
a.set-border-here span {
    position: absolute;
    display: block;
}




a.set-border-here span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}



a.set-border-here:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


a.set-border-here span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a.set-border-here:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



a.set-border-here span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a.set-border-here:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



a.set-border-here span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a.set-border-here:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.set-border-here{
  background-color: whitesmoke;

} 


/* .digital-wallet {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 50%;
}

.wallet-image {
    width: 120px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
} */
/* .wallet-image {
    width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

} */
.wallet-image {
    width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}
.digital-wallet {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 50%;
}
p.my-neon-text {
    text-transfrom:uppercase;
    color:white;
    font-size:2em;
    text-align:center;
    animation: neonGlow 2s infinite alternate ;
  }
  
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(255,255,255,.8),
                   0 0 22px  rgba(255,255,255,.8),
                   0 0 40px  rgba(66,220,219,.8),
                   0 0 60px  rgba(66,220,219,.8),
                   0 0 80px  rgba(66,220,219,.5),
                   0 0 100px rgba(66,220,219,.5),
                   0 0 140px rgba(181, 73, 10, 0.5),
                   0 0 200px rgba(171, 55, 23, 0.5);
    }
    100% {
      text-shadow: 0 0 2px rgba(255,255,255,.8),
                   0 0 8px rgba(255,255,255,.8),
                   0 0 10px rgba(255,255,255,.8),
                   0 0 20px rgba(66,220,219,.8),
                   0 0 30px rgba(66,220,219,.8),
                   0 0 40px rgba(66,220,219,.8),
                   0 0 50px rgba(66,220,219,.5),
                   0 0 80px rgba(66,220,219,.5);
    }
  }
  

  /* Password Happy Face */
  .password-strength-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .password-strength-indicator i {
    font-size: 30px;
    color: #333;
    margin: 0 5px;
  }
  
  .password-strength-indicator i.fa-smile {
    color: green;
  }
  
  .password-strength-indicator i.fa-meh {
    color: orange;
  }
  
  .password-strength-indicator i.fa-frown {
    color: red;
  }
  
